body {
    background-image: url(../images/background.png);
    background-size: cover;
    
}

.jumbotron {
    background-color: black;
    background-image: url(../images/jurassicpark-logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 110px;        
}

.start-btn {
    display: block;
    font-size: 50px;
    color: #0c0c0b;
    text-align: center;
}

.title {
    display: block;
    font-size: 80px;
    color: #1d0606;
    text-shadow: 2px 2px #bb5b01;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.timer{
    display: block;
    font-size: 30px;
    color: #1a1a04c1;
    text-align: center;
}

.question {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #ce7827;
    text-align: center;
    height: 25px;
}
.main{
    background-color: antiquewhite;
    color: black;
}

@media screen and (max-width: 980px){
    
}


@media only screen and (max-width: 768px){
	
}


@media only screen and (max-width: 640px){
	
}